extends base

block content 
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Log into your account
      form.form.form--login
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
          a.btn-text(href='/signup' style='float: right; font-size: 16px; margin: 7px 0 17px 0;') Forgot password ?
        .form__group.singup__group(style='clear: both;')
          button.btn.btn--green.btn__signup Login
          p.already-account Haven't an account yet ? &nbsp;
            a.btn-text(href='/signup') Sign Up