extends base

block content 
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Create new account
      form.form.form--login.form__signup
        .form__group
          input#name.form__input(type='text', placeholder='Name', required)
        .form__group
          input#email.form__input(type='email', placeholder='Email', required)
        .form__group
          input#phone.form__input(type='tel' placeholder='Phone number' required )
        .form__group.ma-bt-md
          input#password.form__input(type='password', placeholder='Password', required, minlength='8')
        .form__group.ma-bt-md
          input#password-confirm.form__input(type='password', placeholder='Confirm password', required, minlength='8')
        .form__group.singup__group
          button.btn.btn--green.btn__signup Sign up
          p.already-account Already have an account ? &nbsp;
            a.btn-text(href='/login') Login